<h1>Teacher <%= @teacher.name %></h1>
<div class="form-group">
    <button class='btn btn-primary' onclick="myFunction()">Show day</button>
</div>
<table id="day" class="table table-striped">
    <thead>
        <tr>
            <th>Lesson</th>
            <th>Group</th>
            <th>Time</th>
            <th>Day</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @teacher.schedule.each do |lesson| %>
            <tr>
                <td> <%= lesson.course.name %> </td>
                <td> <%= lesson.group.name %> </td>
                <td> <%= lesson.hour.hour %>:00 </td>
                <td> <%= lesson.day %> </td>
                    <td> <%= link_to "Edit", edit_lesson_path(lesson), class: 'btn btn-primary' %>  
                         <%= link_to "Delete", lesson_path(lesson), method: :delete, data: {confirm: "Are you sure?"}, class:"card-link btn btn-danger" %> </td>
            </tr>
        <% end %>
    </tbody>
</table>

<div class="form-group">
    <button class='btn btn-primary' onclick="myFunction2()">Show week</button>
</div>
<table id="week" class="table table-striped">
    <thead>
        <tr>
            <th>Lesson</th>
            <th>Group</th>
            <th>Time</th>
            <th>Day</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @teacher.week_schedule.each do |lesson| %>
            <tr>
                <td> <%= lesson.course.name %> </td>
                <td> <%= lesson.group.name %> </td>
                <td> <%= lesson.hour.hour %>:00 </td>
                <td> <%= lesson.day %> </td>
                    <td> <%= link_to "Edit", edit_lesson_path(lesson), class: 'btn btn-primary' %>  
                         <%= link_to "Delete", lesson_path(lesson), method: :delete, data: {confirm: "Are you sure?"}, class:"card-link btn btn-danger" %> </td>
            </tr>
        <% end %>
    </tbody>
</table>
<div class="form-group">
    <%= link_to "Add new Lesson", new_lesson_path, class: 'btn btn-primary' %>
</div>
